body {
    font-family: 'Rockwell', Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
    text-align:center;
    background-image: url('http://38.media.tumblr.com/f200141cf25e13d0198032cd953ec59f/tumblr_miu8ho4axT1qh59n0o1_500.gif' );
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
    font-size: 30px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
    font-size: 30px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right:10px;
  }
  
  #listaFilmes img {
    margin: 10px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #DA1E26;
    font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    borde-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
  }
  
  .form-wrapper button:hover {
    opacity:5.8;
    filter: brightness( 50% );
    font-size: 18px;
  }

 #lMovie img {
    margin: 10px;
  }
  